.rowAdmin{
    padding-top: 20px;
}

.rowRA{
    padding-top: 20px;
}
.boxReviewRA{
    padding-left: 24%;
    padding-bottom: 10%;
    width: 100px;
    height: 40px;
    bottom: 62px;
    padding-left: 80px;
}