.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1051 !important;
    
    
}

.popup-inner {
    border-radius: 40px; 

    position: relative;
    padding: 32px;
    width: 500px;
    max-width: 640px;
    background-color: white;
    border-radius: 50px; 
}
.message{
    padding-bottom: 10px;
}

.popup-inner .close-btn {
    position: absolute;
    bottom:370%;
    right: 16px;
    width: 70px;
    background: #baa1d1;
    color: black;
    padding-bottom: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;
    height: 25px;
}
.titlePopUpReview{
    padding-left: 200px;
    padding-bottom: 10px;
}
.msgPopUp{
    padding-left: 150px;
}
.formName{
    justify-content: center;
    text-align: center;
}
.formDescription{
    justify-content: center;
    text-align: center;
}
.editButton{
    margin-left: 220px;
    background: #baa1d1;
    color: black;
    border-radius: 30px;

}